table.dataTable tbody > tr.selected, table.dataTable tbody > tr > .selected {
    background-color: #54BC75;
}
.active {
    padding: 0;
}
.remove-input-css {
    background: none;
    border: none;
    text-align: center;
}
.modal-open {
    overflow: scroll !important;
}
.block-web, .block-wizard {
    padding-bottom: 60px !important;
}
.dataTables_processing {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    height: 40px;
    margin-left: -50%;
    margin-top: -25px;
    padding-top: 20px;
    text-align: center;
    font-size: 1.2em;
    background: white !important;
}
.uneditable-input, textarea, input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"] {

    padding: 6px 0 !important;
    margin-left: 10px !important;

}
body.modal-open-noscroll
{
    margin-right: 0!important;
    overflow: hidden;
}
.modal-open-noscroll .navbar-fixed-top, .modal-open .navbar-fixed-bottom
{
    margin-right: 0!important;
}